name: Plugin zip package

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize
    branches:
      - master

jobs:
  create-package:
    runs-on: ubuntu-22.04
    container:
      image: qgis/qgis:release-3_34
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Fix Python command
        run: apt-get install python-is-python3

      - name: Install python
        uses: actions/setup-python@v4

      - name: Install plugin dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Get unique identifier
        id: get-identifier
        run: |
          echo "PACKAGE_ID=$(python -c "import uuid; print(str(uuid.uuid4())[:4])")" >> $GITHUB_ENV

      - name: Set Git configuration
        run: |
          git config --global --add safe.directory /__w/qgis-plugin-template/qgis-plugin-template

      - name: Build zipfile
        run: |
          
          python admin.py build --output-directory ${{ format(
          './qgis-plugin-template_{0}_{1}/qgis_plugin_template/',
          github.event.pull_request.head.ref,
          env.PACKAGE_ID) }}
          
          echo "ZIP_PATH=$GITHUB_WORKSPACE/${{ format('qgis-plugin-template_{0}_{1}', github.event.pull_request.head.ref, env.PACKAGE_ID) }}" >> $GITHUB_ENV
          echo "ZIP_NAME=${{ format('qgis-plugin-template_{0}_{1}', github.event.pull_request.head.ref, env.PACKAGE_ID) }}" >> $GITHUB_ENV
          

      - name: Uploading plugin build
        id: artifact-upload-step
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}
          path: ${{ env.ZIP_PATH }}

      - name: Save the artifact url and pull request number
        shell: bash
        env:
          PR_NUMBER: ${{ github.event.number }}
          ARTIFACT_URL: ${{ steps.artifact-upload-step.outputs.artifact-url }}
        run: |
          echo $ARTIFACT_URL > artifact_url.txt
          echo $PR_NUMBER > pr_number.txt

      - name: Upload the artifact url
        uses: actions/upload-artifact@v4
        with:
          name: artifact_url
          path: ./artifact_url.txt

      - name: Upload the PR number
        uses: actions/upload-artifact@v4
        with:
          name: pr_number
          path: ./pr_number.txt
